<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools" package="ru.home.unipark">

    <application android:name=".App"
                 android:allowBackup="true"
                 android:label="@string/app_name"
                 android:icon="@mipmap/ic_launcher"
                 android:roundIcon="@mipmap/ic_launcher_round"
                 android:supportsRtl="true"
                 android:theme="@style/AppTheme"
                 tools:ignore="GoogleAppIndexingWarning">

        <activity android:name=".presentations.splash.SplashActivity"
            android:screenOrientation="portrait">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />
                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
        </activity>

        <activity android:name=".presentations.auth.AuthActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".presentations.reg.RegActivity"
            android:screenOrientation="portrait" />

        <activity android:name=".presentations.transport.TransportActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>